/* ================================= */

/* Header Styles */

/* ================================= */

body {
    font-family: Helvetica, sans-serif
}

header {
height: 100px;
background: #444;  
}

nav {
    width: 960px;
    margin: 0px auto;
}

nav img {
    float: left;
    margin-top: 15px;
    margin-right: 30px;
}
nav li {
    display: inline-block;
    margin-top: 40px;
    margin-right: 90px;
}

a {text-decoration: none;
    color: #888;

}

/* ================================= */

/* Main Styles */

/* ================================= */

main {
    /* border: 2px dashed orange; */
    width: 960px;
    margin: 30px auto;
}

main li {
    float: left;
    margin: 30px 30px 30px 0px;
}

main li:last-child {
    margin-right: 0px;
}

section img {
    float: left;
}

section div {
    width: calc(50% - 30px);
    float: left;
    margin-left: 30px;
}



h2 {
    font-size: 20px;
}

section p {
    margin-top: 10px;
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
    overflow: auto;
    height: 313px;
}

button {
    border: none;
    padding: 10px 30px;
    color: white;
    background: black;
    font-size: 18px;
    margin-top: 15px;
    transition: 350ms;
    cursor: pointer;
}

button:hover {
    background: green;
}

/* ================================= */

/* Footer Styles */

/* ================================= */

footer {
    background: #444;
    height: 150px;
    margin-top: 30px;
    clear: both;
}

